[Unit]
Description=Maximize Jetson Performance
After=multi-user.target

[Service]
ExecStart=/usr/bin/jetson_clocks

[Install]
WantedBy=multi-user.target
